{% extends "base.html" %}
{% load user_tags %}

{% block title %}User list{% endblock %}


{% block content %}
    <table>
        <tr>
            <th>Username</th>
            <th>| Birthday</th>
            <th>| Eligible</th>
            <th>| Random Number</th>
            <th>| BizzFuzz</th>
        </tr>

        {% for user in user_list %}
            <tr>
                <td><a href="{{ user.get_absolute_url }}">{{ user.username }}</a></td>
                <td>| {{ user.birth_day|date:"m/d/Y" }}</td>
                <td>| {% allowed_age user %}</td>
                <td>| {{ user.random_number }}</td>
                <td>| {{ user.random_number|fizzbuzz }} </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}